<template>
  <div class="container">
    <div class="row">
      <button class="col-" @click="$router.push('/edit/new')">Создать договор</button>
      <button class="col-" @click="openContract">Открыть договор</button>
    </div>
    <div class="row">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Серия-Номер</th>
          <th scope="col">Дата заключения</th>
          <th scope="col">Страхователь</th>
          <th scope="col">Премия</th>
          <th scope="col">Срок действия</th>
        </tr>
        </thead>
        <tbody>
        <contracts-row v-for="contract in contracts" :key="contract.id" :contract="contract"
                       @click.native="select(contract.id)"
                       @dblclick.native="editContract(contract.id)"
                       :class="{ selected : contract.id === selectedId }"/>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
  import ContractsRow from 'components/contracts/ContractsRow.vue'

  export default {
    components: {ContractsRow},

    name: "Contracts",
    created: function () {
      this.$http.get('/contracts').then(result =>
          result.json().then(data =>
              data._embedded.contracts.forEach(
                  contract => this.contracts.push(contract))
          )
      )
    },
    data() {
      return {
        selectedId: null,
        contracts: []
      }
    },
    methods: {
      select(id) {
        this.selectedId = (this.selectedId !== id) ? id : null;
      },
      editContract(id) {
        this.$router.push('/edit/' + id)
      },
      openContract() {
        if (this.selectedId) {
          this.editContract(this.selectedId)
        }
      }
    }

  }
</script>

<style scoped>

</style>