<template>
  <tr>
    <td>{{contract.contractNumber}}</td>
    <td>{{contract.date}}</td>
    <td>{{contract.insurer.lastName}} {{contract.insurer.firstName}} {{contract.insurer.middleName}}</td>
    <td>{{contract.premium.toFixed(2)}}</td>
    <td>{{contract.durationStart}} - {{contract.durationEnd}}</td>
  </tr>
</template>

<script>
  export default {
    name: "ContractsRow",
    props: ['contract', 'editContract'],
    methods: {
    },
    data() {
      return {
        selected: false
      }
    }
  }
</script>

<style scoped>

</style>