thead th {
  background: lightyellow;
}

tr {
  cursor: pointer;

}

tbody tr:hover {
  background: aliceblue;
}

form {
  display: table;
}

p {
  display: table-row;
}

label {
  display: table-cell;
  text-align: right
}

input {
  display: table-cell;
}

.left {
  display: inline;
}

.right {
  display: inline;
}

.submit {
  display: block;
}

.selected {
  background: lightblue;
}

.line {
  display: inline;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.error {
  color: red;
}