<template>
  <fieldset class="border rounded container mb-3">
    <legend style="width:auto; margin:0 20px; border-bottom:none;">Расчет</legend>
    <div class="row align-items-center">
      <form @submit.prevent="submit">
        <div class="container">
          <div class="row">
            <div class="col col-lg-6">
              <div class="form-group row">
                <label class="col-sm-5 col-form-label" for="insuredSum"> Страховая сумма </label>
                <div class="col-sm-7">
                  <input class="form-control" id="insuredSum" min="0" name="insuredSum" step="1"
                         v-model="contract.insuredSum" type="number">
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-5 col-form-label" for="realtyType">Тип недвижимости</label>
                <div class="col-sm-7">
                  <select class="form-control" id="realtyType" name="realtyType"
                          v-model="contract.realtyType">
                    <option value="APARTMENT">Квартира</option>
                    <option value="HOUSE">Дом</option>
                    <option value="ROOM">Комната</option>
                  </select>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-5 col-form-label" for="year">Год постройки</label>
                <div class="col-sm-7">
                  <input class="form-control" min="1000" name="year" id="year" step="1"
                         v-model="contract.year" :max="new Date().getFullYear()" type="number">
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-5 col-form-label" for="area">Площадь, кв.м.</label>
                <div class="col-sm-7">
                  <input class="form-control" min="0" name="area" id="area" step="0.1"
                         v-model="contract.area" type="number"></div>
              </div>
            </div>
            <div class="col col-lg-3">
              <div class="form-group row">
                <label class="col-sm-5 col-form-label" for="durationStart">Срок действия с </label>
                <div class="col-sm-7">
                  <input class="form-control" name="durationStart" id="durationStart" step="0.1"
                         v-model="contract.durationStart" type="text">
                </div>
              </div>
            </div>
            <div class="col col-3">
              <div class="form-group row">
                <label class="col-sm-5 col-form-label" for="durationEnd">по</label>
                <div class="col-sm-7">
                  <input class="form-control" id="durationEnd" min="0" name="durationEnd" step="0.1"
                         type="text" v-model="contract.durationEnd">
                </div>
              </div>
            </div>
          </div>

          <Errors class="row" :errors="errors"/>
          <div class="row justify-content-md-center mb-3">
            <input class="btn btn-primary" type="submit" value="Рассчитать">
          </div>
        </div>
      </form>
    </div>
    <div class="row">
      <div class="col col-lg-6">
        <div class="form-group row">
          <label class="col-sm-5 col-form-label" for="date">Дата расчета</label>
          <div class="col-sm-7">
            <input class="form-control" id="date" readonly type="text"
                   v-model="contract.calculationDate">
          </div>
        </div>
      </div>
      <div class="col col-lg-3">
        <div class="form-group row">
          <label class="col-sm-5 col-form-label" for="premium">Премия</label>
          <div class="col-sm-7">
            <span class="form-control" id="premium" readonly type="number"
                  v-text="contract.premium? contract.premium.toFixed(2):''"></span>
          </div>
        </div>
      </div>
      <div class="col-"></div>
    </div>
  </fieldset>
</template>
<script>
  import Errors from 'components/Errors.vue'

  export default {
    name: 'CalcPremiumForm',
    components: {Errors},
    props: {
      contract: {premium: {}}
    },
    data() {
      return {
        errors: []
      }
    },
    methods: {
      submit: function () {
        this.$http.post('/contract/premium-calc', this.premiumDto()).then(
            response => {
              this.errors = []
              response.json().then(json => {
                this.$emit('calc', json)
              })
            }, error => {
              this.contract.premium = null;
              error.json().then(json => this.errors = json.errors)
            })
      },
      premiumDto() {
        return {
          insuredSum: this.contract['insuredSum'],
          durationStart: this.contract['durationStart'],
          durationEnd: this.contract['durationEnd'],
          realtyType: this.contract['realtyType'],
          year: this.contract['year'],
          area: this.contract['area'],
        }
      }
    }
  }
</script>
