<template>
  <div class="container">
    <h1>Редактирование заявки</h1>
    <CalcPremiumForm @calc="calc" :contract="contract"/>
    <div class="row">
      <div class="col">
        <FormGroupInput :forId="'contractNumber'" :field.sync="contract.contractNumber"
                        :label="'№ договора'"/>
      </div>
      <div class="col">
        <FormGroupInput :forId="'date'" :field.sync="contract.date" :label="'Дата заключения'"/>
      </div>
    </div>
    <ContractInsurerForm :insurer="contract.insurer" @select="selectInsurer"/>
    <RealtyAddress :realtyAddress="contract.realtyAddress"/>
    <div>
      <h2>КОММЕНТАРИЙ</h2>
      <p>
        <label for="comment">Комментарий к договору (не печатается на полисе)</label>
        <textarea id="comment" v-model="contract.comment"></textarea>
      </p>
    </div>
    <Errors :errors="errors"/>
    <button @click="save()">Сохранить</button>
    <button @click="$router.push('/')">К списку договоров</button>
  </div>
</template>

<script>
  import CalcPremiumForm from 'components/contracts/edit/CalcPremiumForm.vue'
  import ContractInsurerForm from 'components/insurer/ContractInsurerForm.vue'
  import RealtyAddress from 'components/contracts/edit/RealtyAddress.vue'
  import Errors from 'components/Errors.vue'
  import FormGroupInput from 'components/FormGroupInput.vue'

  export default {
    name: "ContractForm",
    components: {FormGroupInput, Errors, RealtyAddress, ContractInsurerForm, CalcPremiumForm},
    data() {
      return {
        contract: {insurer: {}, realtyAddress: {}},
        errors: []
      }
    },
    beforeCreate() {
      if (this.$route.params.id !== 'new') {
        this.$http.get("/contracts/" + this.$route.params.id).then(
            response => response.json().then(json => this.contract = json))
      }
    },
    methods: {
      save() {
        this.$http.post("/contract", this.contract).then(response => {
              response.json().then(json => {
                Object.assign(this.contract, json)
              })
              this.$router.push('/')
            }
            , error => {
              error.json().then(json => this.errors = json.errors);
            }
        )
      },
      selectInsurer(insurer) {
        this.contract.insurer = insurer
      },
      calc(premiumDto) {
        this.contract = {...this.contract, ...premiumDto}
      }
    }
  }
</script>

