<template>
  <div class="container">
    <h3>Адрес недвижимости</h3>
    <div class="row">
      <div class="col">
        <FormGroupInput :forId="'country'" :field.sync="realtyAddress.country" :label="'Государство'"/>
        <FormGroupInput :forId="'index'" :field.sync="realtyAddress.index" :label="'Индекс'"/>
        <FormGroupInput :forId="'region'" :field.sync="realtyAddress.region"
                        :label="'Республика, край, область'"/>
        <FormGroupInput :forId="'district'" :field.sync="realtyAddress.district" :label="'Район'"/>

      </div>
      <div class="col">
        <FormGroupInput :forId="'city'" :field.sync="realtyAddress.city" :label="'Населенный пункт'"/>
        <FormGroupInput :forId="'street'" :field.sync="realtyAddress.street" :label="'улица'"/>

        <div class="row form-group">
          <label class="col-sm-5 col-form-label" for="house">дом</label>
          <div class="col-sm-7">
            <input class="form-control" type="number" min="1" step="1" id="house"
                   v-model="realtyAddress.house">
          </div>
        </div>

        <FormGroupInput :forId="'building'" :field.sync="realtyAddress.building" :label="'корпус'"/>
        <FormGroupInput :forId="'structure'" :field.sync="realtyAddress.structure" :label="'строение'"/>

        <div class="row form-group">
          <label class="col-sm-5 col-form-label" for="apartment">квартира</label>
          <div class="col-sm-7">
            <input class="form-control" type="number" min="1" step="1" id="apartment"
                   v-model="realtyAddress.apartment">
          </div>
        </div>

      </div>
    </div>
    <div class="line"></div>
  </div>
</template>

<script>
  import FormGroupInput from 'components/FormGroupInput.vue'

  export default {
    name: 'RealtyAddress',
    components: {FormGroupInput},
    props: {
      realtyAddress: {}
    }
  }
</script>