<template>
  <div class="error" v-show='errors.length'>
    <b>Пожалуйста исправьте указанные ошибки:</b>
    <ul>
      <li v-for="error in errors">{{ error }}</li>
    </ul>
  </div>
</template>
<script>
  export default {
    name: 'Errors',
    props: {
      errors: {}
    }
  }
</script>