<template>
  <div class="row form-group">
    <label class="col-sm-5 col-form-label" v-bind:for="forId">{{label}}</label>
    <div class="col-sm-7">
      <input class="form-control" :id="forId" v-on:keyup="onChange($event)" :value="field"
             type="text">
    </div>
  </div>
</template>
<script>
  export default {
    name: 'FormGroupInput',
    props: {
      forId: {},
      label: {},
      field: {}
    },
    methods: {
      onChange: function (event) {
        this.$emit('update:field', event.target.value);
      }
    },
  }
</script>