<template>
  <transition>
    <div id="change-modal" class="modal" role="dialog" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content container">
          <div class="row">
            <label for="fullName">ФИО</label>
            <div id="fullName">
              <p>
                <label for="lastName">(фамилия)</label>
                <input type="text" id="lastName" v-model="tempInsurer.lastName">
              </p>

              <p>
                <label for="firstName">(имя)</label>
                <input type="text" id="firstName" v-model="tempInsurer.firstName">
              </p>

              <p>
                <label for="middleName">(отчество)</label>
                <input type="text" id="middleName" v-model="tempInsurer.middleName">
              </p>
            </div>
          </div>
          <p>
            <label for="birthDate">Дата рождения</label>
            <input type="text" id="birthDate" v-model="tempInsurer.birthDate">
          </p>
          <Passport :insurer="tempInsurer"></Passport>
          <button @click="save()" data-dismiss="modal">Сохранить</button>
          <button data-dismiss="modal">Отменить</button>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
  import Passport from 'components/insurer/Passport.vue'

  export default {
    name: "ChangeInsurerForm",
    components: {Passport},
    props: {
      insurer: {}
    },
    data() {
      return {
        tempInsurer: {}
      }
    },
    methods: {
      save() {
        this.$emit('select',this.tempInsurer)
      }
    },
    created() {
      Object.assign(this.tempInsurer, this.insurer);
    }
  }
</script>

<style scoped>

</style>