<template>
  <div class="container">
    <h2>Страхователь</h2>
    <div class="row mb-3">
      <button class="col col-sm-2 btn btn-primary btn-sm" id="select-insurer" data-toggle="modal"
              data-target="#select-modal">Выбрать
      </button>
      <div class="col">
        <div class="row">
          <label class="col col-sm-2 col-form-label" for="name">ФИО</label>
          <div class="col col-sm-10">
            <input class="form-control" type="text" id="name" v-model="fullName" readonly>
          </div>
        </div>
      </div>
      <button class="col-2 btn btn-primary" id="edit-insurer" data-toggle="modal"
              data-target="#change-modal">Изменить
      </button>
    </div>

    <div>
      <SelectInsurerForm @select="selectInsurer"></SelectInsurerForm>
      <CreateInsurerForm @select="selectInsurer"></CreateInsurerForm>
      <ChangeInsurerForm :insurer="insurer" @select="selectInsurer"></ChangeInsurerForm>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group row">
          <label class="col col-sm-5 col-form-label" for="birthDate">Дата рождения</label>
          <div class="col col-sm-7">
            <input class="form-control" type="text" id="birthDate" v-model="insurer.birthDate"
                   readonly>
          </div>
        </div>
      </div>

      <Passport class="col" :readonly="true" :insurer="insurer"/>
    </div>
  </div>
</template>

<script>
  import SelectInsurerForm from 'components/insurer/SelectInsurerForm.vue'
  import CreateInsurerForm from 'components/insurer/CreateInsurerForm.vue'
  import Passport from 'components/insurer/Passport.vue'
  import ChangeInsurerForm from 'components/insurer/ChangeInsurerForm.vue'

  export default {
    name: 'ContractInsurerForm',
    components: {ChangeInsurerForm, Passport, CreateInsurerForm, SelectInsurerForm},
    props: {
      insurer: {}
    },
    methods: {
      selectInsurer(insurer) {
        this.$emit('select', insurer)
      }
    },
    data() {
      return {}
    },
    computed: {
      fullName() {
        if (this.insurer.lastName) {
          return this.insurer.lastName + ' ' + this.insurer.firstName + ' '
              + this.insurer.middleName
        }
        return '';
      },
    }
  }
</script>