<template>
  <transition>
    <div id="create-modal" class="modal" role="dialog" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content container">
          <div class="row">
            <label for="fullName">ФИО</label>
            <div id="fullName">
              <p>
                <label for="lastName">(фамилия)</label>
                <input type="text" id="lastName" v-model="tempInsurer.lastName">
              </p>

              <p>
                <label for="firstName">(имя)</label>
                <input type="text" id="firstName" v-model="tempInsurer.firstName">
              </p>

              <p>
                <label for="middleName">(отчество)</label>
                <input type="text" id="middleName" v-model="tempInsurer.middleName">
              </p>
            </div>
          </div>
          <p>
            <label for="birthDate">Дата рождения</label>
            <input type="text" id="birthDate" v-model="tempInsurer.birthDate">
          </p>
          <Errors :errors="errors"></Errors>
          <button @click="save()" data-dismiss="modal">Сохранить</button>
          <button data-dismiss="modal">Отменить</button>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
  import Errors from 'components/Errors.vue'

  export default {
    name: "CreateInsurerForm",
    components: {Errors},
    props: {
      insurer: {}
    },
    data() {
      return {
        tempInsurer: {},
        errors: []
      }
    },
    methods: {
      save() {
        this.$http.post('/insurers', this.tempInsurer).then(response => {
          if (response.ok) {
            response.json().then(json => {
              this.$emit('select', json)
            })
          }
        }, error => {
          error.json().then(json => {
            this.errors = json.errors
          })
        })
      }
    }
  }
</script>

<style scoped>

</style>