<template>
  <div class="row">
    <div class="col-7">
      <div class="form-group row">
        <label class="col-sm-7 col-form-label" for="passportSerial">Паспорт серия</label>
        <div class="col-sm-5">
          <input class="form-control" type="text" id="passportSerial"
                 v-model="insurer.passportSerial">
        </div>
      </div>
    </div>
    <div class="col-5">
      <div class="form-group row">
        <label class="col-sm-1 col-form-label" for="passportNumber">№</label>
        <div class="col-sm-10">
          <input class="form-control" type="text" id="passportNumber"
                 v-model="insurer.passportNumber">
        </div>
      </div>
    </div>

  </div>
</template>

<script>
  export default {
    name: 'Passport',
    props: {
      insurer: {}
    }
  }
</script>