<template>
  <transition>
    <div id="select-modal" class="modal" role="dialog" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content container">
          <div class="row">
            <label for="fullName">ФИО</label>
            <div id="fullName">
              <p>
                <label for="lastName">(фамилия)</label>
                <input type="text" id="lastName" v-model="lastName">
              </p>

              <p>
                <label for="firstName">(имя)</label>
                <input type="text" id="firstName" v-model="firstName">
              </p>

              <p>
                <label for="middleName">(отчество)</label>
                <input type="text" id="middleName" v-model="middleName">
              </p>
            </div>
            <button @click="search()">Поиск</button>
          </div>
          <table class="row table">
            <thead>
            <tr>
              <th>ФИО</th>
              <th>Дата рождения</th>
              <th>Паспортные данные</th>
            </tr>
            </thead>
            <tbody>
            <span v-if="insurers.length"></span>
            <tr v-for="insurer in insurers" @click="select(insurer.id)" @dblclick="open(insurer.id)"
                :class="{ selected : insurer.id === selectedId }">
              <td>{{insurer.lastName}} {{insurer.firstName}} {{insurer.middleName}}</td>
              <td>{{insurer.birthDate}}</td>
              <td>{{insurer.passportSerial}} №{{insurer.passportSerial}}</td>
            </tr>
            </tbody>
          </table>
          <div class="row">
            <button @click="open(selectedId)" data-dismiss="modal">Выбрать</button>
            <button data-toggle="modal" data-target="#create-modal" data-dismiss="modal">Новый
            </button>
            <button data-dismiss="modal">Закрыть</button>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
  export default {
    name: "SelectInsurerForm",
    props: {},
    methods: {
      search() {
        this.$http.get('/insurers/search/findAllByName', {
          params: {
            firstName: this.firstName,
            lastName: this.lastName,
            middleName: this.middleName,
          }
        }).then(response => {
          response.json().then(json => this.insurers = json._embedded.insurers)
        })
      },
      select(id) {
        this.selectedId = (this.selectedId !== id) ? id : null;
      },
      open(id) {
        if (id) {
          this.$emit('select', this.insurers.find(value => value.id === id))
          this.$emit('close')
        }
      },
    },
    created() {
      this.search();
    },
    data() {
      return {
        lastName: '',
        firstName: '',
        middleName: '',
        insurers: [],
        selectedId: null
      }
    },
  }
</script>

<style scoped>

</style>